<!DOCTYPE html>{% load pytils_numeral %}
<html ng-app="alyticsProc">
<head>
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
{#    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>#}
    <style>
        header { margin: 20px 0 0 0; }
        .lastcheck { font-size: 37px; }
        .lastcheck.glyphicon-ok-sign { color: green }
        .lastcheck.glyphicon-remove-sign { color: red }
        .lastresults .glyphicon-ok { color: green }
        .lastresults .glyphicon-minus { color: red }
        .datasets .glyphicon {cursor: pointer}
    </style>
</head>
<body>
<header></header>
<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-xs-12 col-md-6" ng-controller="UserDataSetController">
            {% verbatim %}
            <h3>Мои наборы данных</h3>
            <table class="table table-striped datasets">
                <tr>
                    <th>Название</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="dataset in datasets">
                    <td>{{ dataset.name }}</td>
                    <td><span ng-click="editDataSet(dataset)" class="glyphicon glyphicon-edit"></span></td>
                    <td><span ng-click="removeDataSet(dataset)" class="glyphicon glyphicon-remove"></span></td>
                </tr>
            </table>
            <h3>{{ title }}</h3>
            <form class="form-horizontal" role="form" ng-submit="onSubmit()">
                <div class="form-group col-md-12">
                    <input class="form-control" placeholder="Название" id="name" type="text" ng-model="dataset.name"/>
                </div>
                <div class="form-group" ng-repeat="item in dataset.items">
                    <div class="col-md-5"><input class="form-control" ng-model="item.a" placeholder="a" type="text"/></div>
                    <div class="col-md-5"><input class="form-control" ng-model="item.b" placeholder="b" type="text"/></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" ng-click="iconClick(item)">
                            <span class="glyphicon {{ item.action.icon_class }}"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><button type="submit" class="btn btn-default">post</button>
                        <a href="" ng-if="!is_add" ng-click="initForm()">или добавить новый</a></div>
                </div>
            </form>
            <p class="alert alert-success" ng-if="success">
                Данные успешно сохранены.
            </p>
            {% endverbatim %}
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="{% url 'start_processing' %}" class="btn btn-default">Начать обработку</a>
            <div class="row">
                <div class="col-md-5">
                    <h4>Последняя проверка: <br/>
                    <small>{{ lastcheck.date_modified|date:"d F Y H:i:s" }}</small></h4>
                </div>
                <div class="col-md-1">
                    <h4>
                    {% if lastcheck.success %}
                        <i class="lastcheck glyphicon glyphicon-ok-sign"></i>
                    {% else %}
                        <i class="lastcheck glyphicon glyphicon-remove-sign"></i>
                    {% endif %}
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>Выполнено: <br/>
                    <small>{{ lastcheck.count }} {{ lastcheck.count|choose_plural:"набор,набора,наборов" }}</small>
                    </h4>
                </div>
            </div>
            <h4>Последние результаты:</h4>
            <table class="lastresults table table-striped">
                <tr>
                    <th>Набор данных</th>
                    <th>Успех</th>
                    <th>Результат</th>
                </tr>
                {% for lastresult in lastresults %}
                    <tr>
                        <td>{{ lastresult.json_data }}</td>
                        <td><i class="glyphicon glyphicon-{{ lastresult.error|yesno:"minus,ok" }}"></i></td>
                        <td>{% if lastresult.error %}{{ lastresult.exception }}{% else %}{{ lastresult.result }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.min.js"></script>
<script type="text/javascript">
    var alyticsProc = angular.module('alyticsProc', ['ngCookies', 'ngResource']);
    alyticsProc.run(function($rootScope, $http, $cookies, $resource){
        $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;
    });

    alyticsProc.actions = {
        add: {name: 'add', icon_class: 'glyphicon-plus'},
        remove: {name: 'remove', icon_class: 'glyphicon-remove'}
    };
    alyticsProc.controller('UserDataSetController', function($scope, $http, $resource){
        var DATASET_RN = "dataset";
        var TITLE_ADD = 'Добавить набор данных';
        var TITLE_EDIT = 'Редактировать набор данных';


        var dataset_res = $resource('/api/v1/:resource_name/:pk/?format=json', {
            pk: "@pk",
            resource_name: "@resource_name"
        }, {
            update: {method: "PUT"}
        });

        $scope.updateList = function(datasets){
            if(datasets){
                $scope.datasets = datasets
            } else {
                dataset_res.get({resource_name: DATASET_RN}, function(data){ $scope.datasets = data.objects });
            }
        };
        $scope.updateList();
        $scope.editDataSet = function(dataset){
            $scope.title = TITLE_EDIT;
            $scope.is_add = false;
            $scope.dataset = dataset;
            $scope.dataset.items = dataset.items.map(function(item){
                item.action = alyticsProc.actions.remove;
                return item
            });
            var last = $scope.dataset.items[$scope.dataset.items.length - 1];
            last.action = alyticsProc.actions.add;
        };
        $scope.removeDataSet = function(dataset){
            if($scope.dataset.id === dataset.id){
                // сбрасываем форму если редактируется удалемый датасет
                $scope.initForm();
            }
            dataset_res.delete({resource_name: DATASET_RN, pk: dataset.id}, function(data){
                $scope.updateList();
            });
        };


        $scope.initForm = function(){
            $scope.is_add = true;
            $scope.title = TITLE_ADD;
            $scope.success = false;
            $scope.dataset = {
                name: '',
                items: [
                    {action: alyticsProc.actions.add, a: '', b: ''}
                ]
            };
        };
        $scope.initForm();
        $scope.iconClick = function(item){
            if(item.action.name === 'add'){
                item.action = alyticsProc.actions.remove;
                $scope.dataset.items.push(
                    {action: alyticsProc.actions.add, a: '', b: ''}
                );
            } else {
                var index = $scope.dataset.items.indexOf(item);
                if(index > -1){
                    $scope.dataset.items.splice(index, 1);
                }
            }
        };
        $scope.onSubmit = function(){
            $scope.success = false;
            // очищаем данные перед отправкой
            var post_data = angular.copy($scope.dataset);
            post_data.items.map(function(item){
                delete item["action"];
            });

            if($scope.is_add){
                dataset_res.save({resource_name: DATASET_RN}, post_data, function(data){
                    $scope.success = true;
                    $scope.updateList();
                    $scope.initForm();
                });
            } else {
                // отправляем данные на сервер
                dataset_res.update({resource_name: DATASET_RN, pk: $scope.dataset.id}, post_data, function(){
                    $scope.success = true;
                    $scope.updateList();
                });
            }
        };
    });
</script>
</body>
</html>